<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->

</head>
<body>
<p th:text="${albums.songCount}">

</p>
<!--<div class="album" th:each="album : ${albums}">-->

<!--    <div class="card">-->
<!--        <p th:text="${album.title}"></p>-->
<!--        <img th:src="${album.imageUrl}" th:alt="${album.title}"/>-->
<!--        <div class="card-body">-->
<!--            <h1 class="card-title">-->
<!--                Title: <span th:text="${album.title}"></span>-->
<!--            </h1>-->
<!--            <p class="card-text">-->
<!--                Artist: <span th:text="${album.artist}"></span>-->
<!--            </p>-->
<!--            <p class="card-text">-->
<!--                Tracks: <span th:text="${album.songCount}"></span>-->
<!--            </p>-->
<!--            <p class="card-text">-->
<!--                Album Length<span th:text="${album.length}"></span>-->
<!--            </p>-->

<!--        </div>-->
<!--    </div>-->

<!--</div>-->
</body>
</html>