<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" src="static/images/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="card" style="width: 18rem;">
<h1 class="card-header">
    Welcome to my Songr!
</h1>
<p class="card-body">
    This is my paragraph for Songr.
</p>

</body>
</html>